body {
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.l-box {
    padding: 2em;
}

.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
}

.pure-menu-link {
    padding: 1em 1em;
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
    text-align: center;
}

.photo-box-thin {
    height: 120px;
}


    .photo-box img {
        max-width: 100%;
        height: auto;
        min-height: 250px;
    }


@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 250px;
    }
}
